.git
.github
.idea
.vscode
node_modules
vendor
public/build
public/storage
public/creative-images
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/*.key
.env
.env.*
!.env.example
*.log
.DS_Store
tests
